<!DOCTYPE html>
html
    head
        - var page = { title: 'О компании' }
        include inc/head.pug
    body#body
        include inc/header.pug
        main.page
            section.title_crumb_section.pb-3
                .container
                    ul.breadcrumb
                        li.breadcrumb-item
                            a(href="#") Главная
                        li.breadcrumb-item
                            a(href="#content") #{page.title}
                    h1 #{page.title}
            section
                .container
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent efficitur est cursus turpis finibus, ultricies porta nunc maximus. Donec placerat justo et scelerisque venenatis. Aenean non odio eu risus cursus condimentum sit amet et velit. Cras hendrerit mauris nec fermentum interdum. Fusce nec libero at est congue porta. Sed at lobortis dolor. Etiam ut dui fermentum, cursus ante vel, facilisis purus. Proin pharetra nisi in erat fringilla, eget consectetur nulla congue. Vestibulum nibh lacus, volutpat id felis eu, suscipit dignissim risus. Pellentesque facilisis, augue scelerisque ornare efficitur, quam augue imperdiet libero, vel volutpat arcu enim sit amet arcu. Phasellus vestibulum justo ut massa condimentum, id semper ante tincidunt. Maecenas id lectus tincidunt, consectetur est et, euismod sapien. Integer a luctus lorem. Ut scelerisque malesuada diam, eget ullamcorper erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

                    p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum laoreet condimentum ipsum, vitae accumsan dui congue a. Curabitur dui lectus, laoreet in volutpat ut, dignissim id risus. Nulla quam nulla, ullamcorper vitae ultricies id, gravida non odio. Nullam rutrum lacus vitae lectus vehicula porttitor. Integer porta fermentum massa. Etiam porta tellus euismod, blandit quam vel, iaculis magna. Vestibulum vulputate lectus lacus, nec aliquet magna gravida bibendum. Quisque luctus non felis et varius. Phasellus tortor dolor, commodo quis lacus accumsan, condimentum pulvinar velit. Curabitur a consequat orci. Integer aliquam sem quis finibus posuere.

                    p Curabitur condimentum massa sodales purus ornare, sed venenatis tortor ornare. Integer accumsan commodo egestas. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin ac nunc nunc. Aenean eget risus eu sem rutrum vehicula sed non lorem. Vestibulum rhoncus sagittis tempus. Fusce gravida, eros sit amet congue bibendum, mi mauris tristique leo, in tincidunt augue sapien ut sem. Morbi mi nisl, hendrerit non eros vel, fermentum fermentum nibh. Fusce sed nunc non massa consectetur tristique. Donec vulputate mattis nisi ut facilisis.

        include inc/map.pug
        include inc/footer.pug
        include inc/scripts.pug