<!DOCTYPE html>
html
    head
        - var page = { title: 'Детская стоматология' }
        include inc/head.pug
    body#body
        include inc/header.pug
        include inc/serv/serv.pug
        include inc/map.pug
        include inc/footer.pug
        include inc/scripts.pug