<!DOCTYPE html>
html
    head
        - var page = { title: 'Фотогалерея' }
        include inc/head.pug
    body#body
        include inc/header.pug
        include inc/sertificates/cont.pug
        include inc/map.pug
        include inc/footer.pug
        include inc/scripts.pug