-var main_menu =['Главная','Услуги', 'Цены','Акции','О компании', 'Отзывы','Вопрос-ответ', 'Статьи','Контакты'];

footer
    .container
        .row
            .col-4.col-sm-4.col-md-2.col-xl-2.d-none.d-xl-block
                .logo
                    a.logo__link(href="#")
                        img(src="img/logo.svg")
            .col-12.col-sm-12.col-md-12.col-xl-10
                .main_menu
                    ul.nav
                        for menu_item,index in main_menu
                            if index == 0
                                li.active
                                    a(href="" + menu_item + '.html')=menu_item
                            else
                                li
                                    a(href="" + menu_item + '.html')=menu_item
                .header__contacts_row
                    .header__col.mr-md-3.order_2
                        .header__location
                            button.header__btn.location_btn(type="button" id="location" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            .header_dropdown.dropdown-menu(aria-labelledby="location")
                                p <strong>г. Минск,<br> ул. Богдановича, 118</strong><br> (ТД "Некрасовский")

                    .header__col.order_3
                        .header__time
                            button.header__btn.time_btn(type="button" id="time" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            .header_dropdown.dropdown-menu(aria-labelledby="time")
                                span <b>пн-пт:</b> 9.00-20.00
                                span <b>сб:</b> 9.00-15.00
                                span <b>вс:</b> выходной

                    .header__col.mr-md-3.order_4
                        .header__phone
                            button.header__btn.phone_btn(type="button" id="phone" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            .header_dropdown.dropdown-menu(aria-labelledby="phone")
                                ul
                                    li
                                        a(href="tel:+375 (29) 683 27 31") <strong>+375 (29) 683 27 31</strong>
                                    li
                                        a(href="tel:+375 (33) 327 27 31") <strong>+375 (33) 327 27 31</strong> (Viber)

                    .header__col.order_5
                        .header__tel
                            button.header__btn.tel_btn(type="button" id="tel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            .header_dropdown.dropdown-menu(aria-labelledby="tel")
                                ul
                                    li
                                        a(href="tel:+375 (17) 258 39 39") <strong>+375 (17) 258 39 39</strong>

                    .header__col.order_1
                        button.btn__default.order_call(data-toggle="modal" data-target="#") Заказать звонок



section.copyright
    .container
        .row
            .col-12.col-sm-12.col-md-6.col-xl-6
                p Copyright © Milamed
                <div itemtype="//data-vocabulary.org/Review-aggregate" itemscope="" id="site_rating">
                <input type="hidden" value="0" name="is_auth">
                <span itemprop="itemreviewed" class="reit">Наш рейтинг: 4.8</span>  <span class="reit">(Голосов: <span itemprop="votes" style="margin-left:0px">25</span> из 30) <span class="stars">★★★★	</span></span><p></p>
                <p><span itemtype="//data-vocabulary.org/Rating" itemscope="" itemprop="rating">
                <meta content="4.8" itemprop="value">
                <meta content="5" itemprop="best">
                </span>
                </p>
                </div>
            .col-12.col-sm-12.col-md-6.col-xl-6
                p.seologic
                    a(href="#") Продвижение и разработка сайта - Seologic



.modal.fade#get_consultation(role="dialog" aria-labelledby="modalLabel" aria-hidden="true")
    .modal-dialog
        .modal-content
            button.close(data-dismiss="modal" aria-label="Close")
            .modal-body
                p.title Получить консультацию
                form.main_form
                    .row
                        .col-12.col-sm-12.col-md-6.field
                            span.name
                                input.form-control(type="text" placeholder="Ваше имя")
                        .col-12.col-sm-12.col-md-6.field
                            span.phone
                                input.form-control.phone_field(type="text" placeholder="+375 (__) ___-__-__")
                        .col-12.field.message_field
                            span.message
                                textarea.form-control(type="text" placeholder="Ваше сообщение")
                        .col-12.col-sm-12.col-md-6.field
                            p здесь будет каптча
                        .col-12.col-sm-12.col-md-6.field.text-center.text-md-right
                            button.btn__default.orange(type="submit") Отправить



.modal.fade#order_call(role="dialog" aria-labelledby="modalLabel" aria-hidden="true")
    .modal-dialog
        .modal-content
            button.close(data-dismiss="modal" aria-label="Close")
            .modal-body
                p.title Заказать звонок
                form.main_form
                    .row
                        .col-12.col-sm-12.col-md-6.field
                            span.name
                                input.form-control(type="text" placeholder="Ваше имя")
                        .col-12.col-sm-12.col-md-6.field
                            span.phone
                                input.form-control.phone_field(type="text" placeholder="+375 (__) ___-__-__")
                        .col-12.field
                            span.email
                                input.form-control(type="text" placeholder="Ваш email")
                        .col-12.field.message_field
                            span.message
                                textarea.form-control(type="text" placeholder="Ваше сообщение")
                        .col-12.col-sm-12.col-md-6.field
                            p здесь будет каптча
                        .col-12.col-sm-12.col-md-6.field.text-center.text-md-right
                            button.btn__default.orange(type="submit") Отправить

a.scrolltop(href="#body")

