#map
    script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1e7ef97cc9ba76104dbb3e98bed2cd13b22221de6d79f7ffb21d20b921d34f1d&amp;width=100%&amp;height=470&amp;lang=ru_RU&amp;scroll=false")

