main.page
    section.title_crumb_section.pb-3
        .container
            ul.breadcrumb
                li.breadcrumb-item
                    a(href="#") Главная
                li.breadcrumb-item
                    a(href="#content") #{page.title}
            h1 #{page.title}

    -var services =['','Терапевтическая стоматология', 'Детская стоматология', 'Эстетическая стоматология', 'Офисное отбеливание зубов','Установка зубного украшения', 'Протезирование зубов', 'Неврология', 'Мануальная терапия'];
    section.services.services_page.bg_grey
        .container
            .row.services_list
                -for(var i=1;i<=8;i++)
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        article.type_service
                            a(href="#")
                                .row
                                    .col-4.col-sm-12.col-md-12.col-xl-12.icon
                                        img(src="img/icon-" + i + ".svg")
                                    div.text.col-8.col-sm-12.col-md-12.col-xl-12=services[i]

    section
        .container
            .content.p-0
                p.section_title.text-left О наших услугах
                p Медицинский центр "МИЛАмед" предлагает услуги платной стоматологии в Минске. Одни из самых популярных наших услуг - лечение кариеса, реставрация, рофессиональная чистка и отбеливание зубов.

                p В медицинском центре ООО"МИЛАмед" используется новейшее оборудование, технологии и материалы мирового уровня. При лечении у нас Вы можете быть уверены, что услуги и квалификация врачей соответствует международным стандартам, а санитарный режим позволяет на 100% обеспечить полную стерильность при лечении и безопасность.




