main.page
    section.title_crumb_section
        .container
            ul.breadcrumb
                li.breadcrumb-item
                    a(href="#") Главная
                li.breadcrumb-item
                    a(href="#") Статьи
                li.breadcrumb-item
                    a(href="#content") #{page.title}
            h1 #{page.title}
    .container
        .page_img(style="background-image:url(img/31c1bd7df12e764248fbb6e43c3dcc2a.jpg)")

    .container
        .content
            h3 Детская стоматология

            p Детская стоматология – это раздел стоматологии, занимающийся профилактикой и лечением заболеваний зубов в детском и подростковом возрасте, с учетом физических, психо-эмоциональных и индивидуальных особенностей развития ребенка.

            p Когда ребенок рождается, у него в челюстных костях уже есть зубы. Поэтому десны малыша требуют особого гигиенического ухода. В возрасте шести — семи месяцев начинают прорезываться молочные зубы, называемые первичными или временными. Они очень важны для процесса жевания, развития речи и служат основанием для формирования челюстей. Поэтому первый зуб служит сигналом для первого визита к стоматологу.
            h3 Услуги медцентра для детей в возрасте от 3 лет

            p Мы предлагаем герметизацию (запечатывание) фиссур для защиты жевательных зубов от появления кариеса. Поверхность жевательных зубов покрыта бороздами или фиссурами, которые трудно вычищаются и потому в большей мере подвержены воздействию кариесогенных бактерий. Мы предлагаем герметизировать фиссуры, тем самым защитив еще формирующуюся эмаль от налета и бактерий. Проводить стоматологическую процедуру нужно в первые три года после прорезывания зубов – молочных, постоянных.
    .container
        .consultation
            .consultation_flex_container
                i.phone_icon
                .c_text.h2 Нужна консультация?
                button.btn__default.orange(data-toggle="modal" data-target="#get_consultation") Получить консультацию


    -var services =['','Терапевтическая стоматология', 'Детская стоматология', 'Эстетическая стоматология', 'Офисное отбеливание зубов','Установка зубного украшения', 'Протезирование зубов', 'Неврология', 'Мануальная терапия'];
    section.services.bg_grey
        .container
            p.section_title.text-center Сопутствующие услуги
            .row.services_list
                -for(var i=1;i<=4;i++)
                    .col-12.col-sm-6.col-md-4.col-xl-3
                        article.type_service
                            a(href="#")
                                .row
                                    .col-4.col-sm-12.col-md-12.col-xl-12.icon
                                        img(src="img/icon-" + i + ".svg")
                                    div.text.col-8.col-sm-12.col-md-12.col-xl-12=services[i]




